<%= provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render 'potepan/shared/light_section', {page_header_title: @taxon, taxon: @taxon} %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/shared/categories', taxonomies: @taxonomies %>
        <%= render 'potepan/shared/price_range_filter' %>
        <%= render 'potepan/shared/color_filter' %>
        <%= render 'potepan/shared/size_filter' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12 productlist">
        <%= render 'potepan/shared/products_sort_filter', taxon: @taxon %>
          <% if list_layout? %>
              <%= render partial: 'potepan/shared/list_product', collection: @products, as: 'product' %>
          <% else %>
              <%= render partial: 'potepan/shared/grid_product', collection: @products, as: 'product'  %>
          <% end %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partners_logo_slider'%>
