<%= provide(:title, @taxon.name) %>
<%= render 'potepan/shared/light_section', title: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'potepan/shared/categories', locals: { taxonomies: @taxonomies } %>
        <%= render 'potepan/shared/price-range-filter' %>
        <%= render 'potepan/shared/color-filter' %>
        <%= render 'potepan/shared/size-filter' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/shared/products-sort-filter' %>
        <div class="row <%= params[:layout] == "list" ? "productListSingle" : "" %>">
          <%= render partial: 'potepan/shared/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partners_logo_slider'%>
